* {
    font-family: "JetBrainsMono", "Source Sans Pro", "FontAwesome 6 Free";
    color: rgba(255, 255, 255, 1);
    background: transparent;
    outline: none;
}
  
#window {
    background: rgba(0, 0, 0, 0.8);
    margin: auto;
    padding: 10px;
    border-radius: 2em;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2em;
}

#outer-box {
    padding: 20px;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 10px;
    border-radius: 1em;
}

#entry:selected {
    background-color: rgba(255,255,255,0.2);
}

#text {
    margin: 2px;
}
